.page-nav {
  background: #dedede;
  margin-bottom: 20px;
}

#topnav {
  margin-top: 10px;

  li {
    display: inline;
    padding: 5px 7px;
  }
}

#site-name {
  font-size: 22px;
  margin-top: 10px;
}

#footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}
